<div id="contenu" class="container">
  <h1>Liste des personnages</h1>
  <div #divRecherchePersonnage>
    <label>Recherche</label>
    <input [(ngModel)]="search" type="text" placeholder="Mario" (keyup)="searchOnList()">
  </div>
  <div *ngIf="loading == true; then displayLoading else displayCharacters"></div>
  <section class="buttons-fab">
    <button (click)="switchView()" mat-fab class="btn-switch">
      <em class="material-icons" *ngIf="view === 'card'">list</em>
      <em class="material-icons" *ngIf="view === 'list'">view_stream</em>
    </button>
  </section>
</div>

<ng-template #displayLoading>
  <app-loading></app-loading>
</ng-template>
<ng-template #displayCharacters [ngSwitch]="view">
  <div *ngSwitchCase="'card'" class="row">
    <div *ngFor="let personnage of PersonnagesFilter" class="col-md-3">
      <card-personnage [personnage]="personnage"></card-personnage>
    </div>
  </div>
  <section *ngSwitchCase="'list'">
    <mat-list>
      <mat-list-item *ngFor="let personnage of PersonnagesFilter" class="mat-whiteframe-2dp mat-card">
        <img mat-list-avatar src="{{ personnage?.images?.icon }}" alt="Icone personnage"/>
        <h3 mat-line>{{ personnage?.name }} </h3>
      </mat-list-item>
    </mat-list>
  </section>
</ng-template>

