<div *ngIf="loading == true; then displayLoading else displayTree"></div>

<ng-template #displayLoading>
  <app-loading></app-loading>
</ng-template>

<ng-template #displayTree>
  <div class="content"></div>
  <div  class="tf-tree">
    <ul class="arbre">
      <section *ngIf="checkWinner(); then fini else nonFini"></section>
    </ul>
  </div>
  <section class="buttons-fab">
    <button mat-fab (click)="showDeleteDialog()" class="btn-delete">
      <em class="material-icons">delete</em>
    </button>
  </section>
</ng-template>

<ng-template #fini>
  <li>
  <span class="tf-nc">
    <mat-card class="cardParticipant">
      <mat-card-content>
        <div class="participant">
          <img class="participantImage" [src]="getWinner().photo"/>
          <span>
            {{getWinner().pseudo}}
          </span>
        </div>
      </mat-card-content>
    </mat-card>
  </span>
    <ul>
      <combat *ngFor="let combat of tournoi?.combats" [combat]="combat" (showDialog)="showDialog($event)"></combat>
    </ul>
  </li>
</ng-template>

<ng-template #nonFini>
  <combat *ngFor="let combat of tournoi?.combats" [combat]="combat" (showDialog)="showDialog($event)"></combat>
</ng-template>
