.arbre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;

}

.buttons-fab {
  height: 170px;
  width: 90px;
  position: fixed;
  bottom: 0;
  right: 0;
  animation: ease-in 1s all;
  transform: translateX(30%);
}

.btn-delete {
  background-color: var(--secondary-base-color);
}
