
<li>
  <span class="tf-nc">
    <mat-card class="cardParticipant" (click)="showDialog(this.combat)">
      <mat-card-content>
        <div class="participant">
          <div *ngIf="combat?.participant1?.id; then participant1 else participantVide"></div>
        </div>
        <div class="imageVersus">
          <img src="assets/versus.png"/>
        </div>
        <div class="participant">
          <div *ngIf="combat?.participant2?.id; then participant2 else participantVide"></div>
        </div>
      </mat-card-content>
    </mat-card>
  </span>
  <ul *ngIf="combat?.children?.length != 0">
    <li *ngFor="let c of combat?.children">
      <combat [combat]="c" (showDialog)="showDialog($event)"></combat>
    </li>
  </ul>
</li>

<ng-template #participant1>
  <div style="position: relative;">
    <img class="participantImage" [src]="combat?.participant1?.photo"/>
    <section *ngIf="combat?.personnage1?.id; then imagePersonnage1 else imagePersonnageVide"></section>
  </div>
  <span>{{combat?.participant1?.pseudo}}</span>
</ng-template>

<ng-template #participant2>
  <div style="position: relative;">
    <img class="participantImage" [src]="combat?.participant2?.photo"/>
    <section *ngIf="combat?.personnage2?.id; then imagePersonnage2 else imagePersonnageVide"></section>
  </div>
  <span>{{combat?.participant2?.pseudo}}</span>
</ng-template>

<ng-template #participantVide>
  <img class="participantImage blockInterrogation" src="assets/blockInterrogation.jpg"/>
  <span>En attente</span>
</ng-template>

<ng-template #imagePersonnageVide>
  <img class="personnageImage" src="assets/blockInterrogation.jpg">
</ng-template>

<ng-template #imagePersonnage1>
  <img class="personnageImage" [src]="Personnage1?.images?.icon">
</ng-template>

<ng-template #imagePersonnage2>
  <img class="personnageImage" [src]="Personnage2?.images?.icon">
</ng-template>
