<div class="container">
  <h1>Liste des participants</h1>
  <div #divRecherchePersonnage>
    <label>Recherche</label>
    <input [(ngModel)]="search" type="text" placeholder="Marc" (keyup)="searchOnList()">
  </div>
  <div class="row">
      <card-participants *ngFor="let participant of ParticipantsFilter" class="col-md-3" [participant]="participant" (participantDelete)="delete($event)" (participantUpdate)="update($event)"></card-participants>
  </div>
  <section class="buttons-fab">
    <button (click)="switchView()" mat-fab class="btn-switch">
      <em class="material-icons" *ngIf="view === 'card'">list</em>
      <em class="material-icons" *ngIf="view === 'list'">view_stream</em>
    </button>
  </section>
  <section class="buttons-fab">

    <button (click)="showDialog()" mat-fab class="button-add">
      <em class="material-icons">add</em>
    </button>

    <button (click)="switchView()" mat-fab class="btn-switch">
      <em class="material-icons" *ngIf="view === 'card'">list</em>
      <em class="material-icons" *ngIf="view === 'list'">view_stream</em>
    </button>
  </section>
</div>

<ng-template #displayLoading>
  <div class="loadingPacman">


    <div class="loadingio-spinner-bean-eater-pzaqmb9bvy">
      <div class="ldio-9ed3khaa6gb">
        <div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

