<div class="container">
  <h1>Liste des participants</h1>
  <div #divRecherchePersonnage>
    <label>Recherche</label>
    <input [(ngModel)]="search" type="text" placeholder="Marc" (keyup)="searchOnList()">
  </div>
  <div *ngIf="loading == true; then displayLoading else displayParticipants"></div>
  <section class="buttons-fab">
    <button (click)="switchView()" mat-fab class="btn-switch">
      <em class="material-icons" *ngIf="view === 'card'">list</em>
      <em class="material-icons" *ngIf="view === 'list'">view_stream</em>
    </button>
  </section>
  <section class="buttons-fab">

    <button (click)="showDialog()" mat-fab class="button-add">
      <em class="material-icons">add</em>
    </button>

    <button (click)="switchView()" mat-fab class="btn-switch">
      <em class="material-icons" *ngIf="view === 'card'">list</em>
      <em class="material-icons" *ngIf="view === 'list'">view_stream</em>
    </button>
  </section>
</div>

<ng-template #displayLoading>
  <app-loading></app-loading>
</ng-template>
<ng-template #displayParticipants [ngSwitch]="view">
  <div *ngSwitchCase="'card'" class="row">
      <card-participants *ngFor="let participant of ParticipantsFilter" class="col-md-3" [participant]="participant" (participantDelete)="showDeleteDialog($event)" (participantUpdate)="update($event)"></card-participants>
  </div>
  <section *ngSwitchCase="'list'">
    <mat-list>
      <mat-list-item *ngFor="let participant of ParticipantsFilter" class="mat-whiteframe-2dp mat-card">
        <img mat-list-avatar src="{{participant?.photo}}" alt="Icon participant" />
        <h3 mat-line>{{participant?.pseudo}}</h3>
          <button mat-mini-fab aria-label="Editer" color="accent" [routerLink]="['/editParticipant', participant?.id]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab aria-label="Supprimer" color="warn" (click)="showDeleteDialog(participant)">
            <mat-icon>delete</mat-icon>
          </button>
      </mat-list-item>

    </mat-list>
  </section>

</ng-template>


