<div id="contenu" class="container">
  <section class="informations">
    <h1>Bienvenue sur le site de gestion de tournament Smash Bros !</h1>
  </section>

  <div class="startTourmanent">
    <button (click)="showAddDialog()" class="btn btn-smash">Démarrer un nouveau tournoi !</button>
  </div>

  <div *ngIf="loading == true; then displayLoading else displayTable"></div>

  <ng-template #displayLoading>
    <app-loading></app-loading>
  </ng-template>

  <ng-template #displayTable>
    <section *ngIf="listOpen.length > 0" class="table">
      <h2>Il y a actuellement {{listOpen.length}} tournois en cours :</h2>
      <table mat-table [dataSource]="this.dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let tournoi">{{tournoi.id}}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let tournoi">{{tournoi.date | date: 'shortDate'}}</td>
        </ng-container>

        <ng-container matColumnDef="nbParticipants">
          <th mat-header-cell *matHeaderCellDef>Nombre de participants</th>
          <td mat-cell *matCellDef="let tournoi">{{tournoi.nbParticipants}}</td>
        </ng-container>

        <ng-container matColumnDef="etat">
          <th mat-header-cell *matHeaderCellDef>Etat</th>
          <td mat-cell *matCellDef="let tournoi">{{tournoi.etat}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnTournoi"></tr>
        <tr mat-row  *matRowDef="let row; columns: columnTournoi;" (click)="displayDetailsTournoi(row)"></tr>
      </table>
    </section>

    <section *ngIf="listOpen.length == 0" class="noTournament">
      <h2>Aucun tournoi n'est en cours, cliquer au dessus pour créer votre tournoi !</h2>
    </section>
  </ng-template>
</div>
