<div class="startTourmanent">
  <button class="btn btn-smash">Démarrer un nouveau tournoi !</button>
</div>
<div class="tf-tree">
  <ul>
    <li>
      <span class="tf-nc">1</span>
      <ul>
        <li>
          <span class="tf-nc">2</span>
          <ul>
            <li><span class="tf-nc">4</span></li>
            <li>
              <span class="tf-nc">5</span>
              <ul>
                <li><span class="tf-nc">9</span></li>
                <li><span class="tf-nc">10</span></li>
              </ul>
            </li>
            <li><span class="tf-nc">6</span></li>
          </ul>
        </li>
        <li>
          <span class="tf-nc">3</span>
          <ul>
            <li><span class="tf-nc">7</span>
              <ul>
                <li><span class="tf-nc">80</span></li>
              </ul>
            </li>
            <li><span class="tf-nc">8</span></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><span class="tf-nc">45</span></li>
  </ul>
</div>
