<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side">
    <mat-nav-list>
      <mat-list-item [routerLink]="['/Home']">
        <i mat-list-icon class="fa-solid fa-gamepad" style="width: auto; height: auto"></i>
        <a class="allerAuContenu" href="/Home" onclick="document.getElementById('balise').focus()"><span class="full-width">Accueil</span></a>
      </mat-list-item>
      <mat-list-item [routerLink]="['/ListPersonnages']">
        <a class="allerAuContenu" href="/ListPersonnages" onclick="document.getElementById('balise').focus()"><span class="full-width">Liste des personnages</span></a>
        <mat-icon mat-list-icon>games</mat-icon>
      </mat-list-item>
      <mat-list-item [routerLink]="['/ListParticipants']">
        <a class="allerAuContenu" href="/ListParticipants" onclick="document.getElementById('balise').focus()"><span class="full-width">Liste des participants enregistrés</span></a>
        <mat-icon mat-list-icon>face</mat-icon>
      </mat-list-item>
      <mat-list-item [routerLink]="['/HistoriqueTournois']">
        <a class="allerAuContenu" href="/HistoriqueTournois" onclick="document.getElementById('balise').focus()"><span class="full-width">Historique des tournois</span></a>
        <i mat-list-icon class="fa-solid fa-trophy"></i>
      </mat-list-item>
      <mat-list-item [routerLink]="['/Stats']">
        <a class="allerAuContenu" href="/Stats" onclick="document.getElementById('balise').focus()"><span class="full-width">Statistiques</span></a>
        <i mat-list-icon class="fa-solid fa-chart-column"></i>
      </mat-list-item>
      <mat-list-item [routerLink]="['/AudioPlayer']">
        <a class="allerAuContenu" href="/Stats" onclick="document.getElementById('balise').focus()"><span class="full-width">Audio Player</span></a>
        <i mat-list-icon class="fa-solid fa-headphones"></i>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content class="sidenav_container">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
